{%extends "base.html"%}
{% load crispy_forms_tags %}

{%block head%}
<script type="text/javascript">

    $(document).ready(function(){
        {%include "staff/staff_session_trade_sheets/staff_session_trade_sheets.js"%}
    });

</script>
<style>

    canvas {
        background-color: white; 
        width: 100%;
        height
        : 600px;
    }

    @media print {
    h2 { 
        page-break-before: always;
    }
    h3, h4 {
        page-break-after: avoid;
    }
    pre, blockquote {
        page-break-inside: avoid;
    }
    }
</style>

{%endblock head%}

{% block content %}
<div class="row d-print-none mb-4">
    <div class="col">
        Record sheet printouts for session: <a href="/staff-session/{{session.id}}/">{{session.title}}</a>
    </div>
</div>

{% for buyer in buyer_list %}
    <div class="row">
        <div class = "col-7 h2">
            Name(s):
        </div>
        <div class = "col-5 h2">
            Total Profit:
        </div>
    </div>

    <div class="row mt-2">
        <div class = "col h3">
            Record sheet for Buyer {{buyer.id_number}}
        </div>
    </div>

    {% for period in buyer.periods %}
     
        <div class="row mt-4">
            <div class = "col h4">
                Period {{period.id_number}}
            </div>
        </div>

        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Unit</th>
                        <th scope="col">Value</th>
                        <th scope="col">Price Paid</th>
                        <th scope="col">Profit on unit<br>Value - Price Paid</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for value in period.value_list %}
                            {%if value.enabled%}
                                <tr>
                                    <td>

                                    </td>
                                    <td>
                                        {{value.value_cost}}
                                    </td>
                                    <td>
                                        
                                    </td>
                                    <td>
                                        
                                    </td>
                                </tr>
                            {%endif%}
                        {% endfor %}
                    </tbody>
                    <!-- <tfoot>
                        <tr>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                Period Profit:
                            </td>
                            <td>

                            </td>
                        </tr>
                    </tfoot> -->
                </table>
            </div>
        </div>        
    {% endfor %}

    <div class="row" style="page-break-after: always;">
        <div class = "col">
            
        </div>
    </div>
{% endfor %}


{% endblock %}