{%extends "base.html"%}
{% load crispy_forms_tags %}
{% load humanize %}

{%block head%}
<script type="text/javascript">

    $(document).ready(function(){
        {%include "staff/staff_session_trade_sheets/staff_session_trade_sheets.js"%}
    });

    /** Add pleural suffix to integer
     * @param integer to add pleural suffix to
    */
    function nth(n){return["st","nd","rd"][(((n<0?-n:n)+90)%100-10)%10-1]||"th"}

</script>
<style>
    @media print{@page {size: landscape}}
</style>

{%endblock head%}

{% block content %}
<div class="row d-print-none mb-4">
    <div class="col">
        {{buyer_or_seller}} paddle printouts for session: <a href="/staff-session/{{session.id}}/">{{session.title}}</a>
    </div>
</div>

<!-- auction paddle printouts -->
{% for r in rows %}
    <div class="row">
        {% for c in r %}
            <div class="col-6 text-center" style="font-size: 225px;">
                {{c}}
            </div>
        {% endfor %}

        <!-- filler if odd number
        {%if foorloop.revcounter|divisibleby:2 != 0 and forloop.last%}
            <div class="col text-center">
                
            </div>
        {%endif%} -->
    </div>

    {%if forloop.counter|divisibleby:2 != 0 and forloop.last == False%}
        <div class="row" style="page-break-after: always;">
            <div class = "col">
                
            </div>
        </div>
    {%endif%}

{% endfor %}
   
{% endblock %}