{%extends "base.html"%}
{% load crispy_forms_tags %}
{% load humanize %}

{%block head%}
<script type="text/javascript">

    $(document).ready(function(){
        {%include "staff/staff_session_trade_sheets/staff_session_trade_sheets.js"%}
    });

    /** Add pleural suffix to integer
     * @param integer to add pleural suffix to
    */
    function nth(n){return["st","nd","rd"][(((n<0?-n:n)+90)%100-10)%10-1]||"th"}

</script>
<style>

    canvas {
        background-color: white; 
        width: 100%;
        height
        : 600px;
    }
</style>

{%endblock head%}

{% block content %}
<div class="row d-print-none mb-4">
    <div class="col">
        {{buyer_or_seller}} paddle printouts for session: <a href="/staff-session/{{session.id}}/">{{session.title}}</a>
    </div>
</div>

<!-- auction paddle printouts -->
{% for r in rows %}
    <div class="row">
        {% for c in r.rows %}
            <div class="row">
                {{c.value}}
            </div>
        {% endfor %}
    </div>
{% endfor %}
   
{% endblock %}