{%extends "base.html"%}
{% load crispy_forms_tags %}

{%block head%}
<script type="text/javascript">

    $(document).ready(function(){
        {%include "staff/staff_session/staff_session.js"%}
    });

</script>

{%endblock head%}

{% block content %}

<!-- modals -->
{%include "staff/staff_session/edit_session_modal.html"%}
{%include "staff/staff_session/edit_valuecost_modal.html"%}
{%include "staff/staff_session/edit_period_modal.html"%}
{%include "staff/staff_session/upload_parameters_modal.html"%}
{%include "staff/staff_session/import_parameters_modal.html"%}

<!-- cards -->
<div class="row justify-content-lg-center" v-cloak>
    <div class="col-md-8">
        {%include "staff/staff_session/parameters_card.html"%}                 
    </div>
    <div class="col-md-4">
        {%include "staff/staff_session/session_card.html"%}                    
    </div>
</div>

{% endblock %}