<div class="card">                  
    <div class="card-header">
        <span v-show="reconnecting">
            Connecting <i class="fas fa-cog fa-spin fa-1x"></i>
        </span>

        <span class="float-end">
            <button class="btn btn-outline-success"
                    type="button" v-on:click = "sendCreateSession()"
                    v-bind:disabled = "reconnecting || working">
                Create Session <i class="fas fa-plus"></i>
            </button>

            <button type="button" 
                    class="btn btn-link ms-1" 
                    title="Show Help Doc" 
                    v-on:click="sendLoadHelpDoc('Staff Home')">
                <i class="far fa-question-circle"></i> 
            </button>
        </span>
                                                        
    </div>
    <div class="card-body">                      
                        
        <!-- session list -->
        <table class="table table-hover table-condensed table-responsive-md">                            

            <caption style="caption-side:top;text-align: center;">Your Sessions</caption>

            <thead>
                <th scope="col">
                    <button type="button"
                            class="btn btn-outline-link btn-sm table_header"
                            v-on:click = "sortByTitle()"
                            v-bind:disabled = "reconnecting || working">
                        Title <i class="fas fa-sort"></i>
                    </button>
                </th> 
                <th scope="col" class="text-center">
                    <button type="button"
                            class="btn btn-outline-link btn-sm table_header"
                            v-on:click = "sortByDate()"
                            v-bind:disabled = "reconnecting || working">
                            Date <i class="fas fa-sort"></i>
                    </button>                             
                </th>                                                              
                <th scope="col" class="text-center">
                    Control
                </th>
            </thead>

            <tbody id="sessionList">                                                  
                <tr v-for="(s,index) in sessions" v-bind:key="s.id">                                                                          
                    <td> 
                        <a :href="'/staff-session/' + s.id + '/' ">[[s.title]]</span></a>                                        
                    </td>
                    <td class="text-center"> 
                        [[s.start_date]]                                
                    </td>
                    <td class="text-center">
                        <div v-if="s.locked">
                            Locked
                        </div>
                        <div v-else-if="s.creator__id != user_id">
                            Shared by [[s.creator__first_name]] [[s.creator__last_name]]
                        </div>
                        <div v-else>
                            <button v-bind:id="'deleteSession' + s.id"
                                    type="button"
                                    class="btn btn-outline-danger btn-sm"
                                    v-on:click = "sendDeleteSession(s.id)"
                                    title = "Delete session and its data."
                                    v-bind:disabled = "reconnecting || working">
                                Delete <i class="fas fa-user-minus fa-xs"></i>  
                            </button>
                        </div>                        
                    </td>
                </tr>                                                    
            </tbody>
            
        </table>                 
        
    </div>                    
</div>